USE [LogIn]
GO
/****** Object:  StoredProcedure [dbo].[sp_attendance]    Script Date: 4/7/2026 12:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_attendance] 
	@Action NVARCHAR(20), 
	@EmpID INT 
AS 
BEGIN 
	SET NOCOUNT ON;

	DECLARE @Now DATETIME = GETDATE();
	DECLARE
		@Today DATE = CAST(@Now AS DATE),
		@Time TIME = CAST(@Now AS TIME),
		@ShiftID INT, 
		@ShiftStart TIME,
		@ShiftEnd TIME,
		@Grace INT,
		@IsNight BIT,
		@ShiftStartDT DATETIME,
		@ShiftEndDT DATETIME;

	-- GET EMPLOYEE SHIFT -- 
	SELECT TOP 1 
		@ShiftID = ES.ShiftID,
		@ShiftStart = SM.StartTime,
		@ShiftEnd = SM.EndTime,
		@Grace = SM.GraceMinutes,
		@IsNight = SM.IsNightShift 
	FROM EmployeeShift ES 
	JOIN ShiftMaster SM ON ES.ShiftID = SM.ShiftID 
	WHERE ES.EmpID = @EmpID 

	-- If the ShiftID is Null it throws error -- 
	IF @ShiftID IS NULL
		THROW 50000, 'Shift not assigned', 1; 

	-- Calculate Attendance Date based on shift type --
	DECLARE @AttendanceDate DATE;

	IF @IsNight = 1
	BEGIN
		IF @Time >= @ShiftStart
			SET @AttendanceDate = @Today;
		ELSE
			SET @AttendanceDate = DATEADD(DAY, -1, @Today);
	END
	ELSE
	BEGIN
		SET @AttendanceDate = @Today;
	END

	-- PUNCH-IN --
	IF @Action = 'PUNCH-IN'
	BEGIN
		BEGIN TRY 
			BEGIN TRANSACTION;
				-- Adding Session Count
				DECLARE @SessionNo INT;

				SET @SessionNo = ( 
					SELECT ISNULL(MAX(SessionNo), 0) + 1 
					FROM Attendance 
					WHERE EmpID = @EmpID 
					AND AttendanceDate = @AttendanceDate
				);

				-- Block punching outside the shift Timing
				IF @IsNight = 1
				BEGIN
					SET @ShiftStartDT = CAST(@AttendanceDate AS DATETIME) + CAST(@ShiftStart AS DATETIME);
					SET @ShiftEndDT   = DATEADD(DAY, 1, CAST(@AttendanceDate AS DATETIME)) + CAST(@ShiftEnd AS DATETIME);
				END
				ELSE
				BEGIN
					SET @ShiftStartDT = CAST(@Today AS DATETIME) + CAST(@ShiftStart AS DATETIME);
					SET @ShiftEndDT   = CAST(@Today AS DATETIME) + CAST(@ShiftEnd AS DATETIME);
				END
				 
				IF @Now < DATEADD(MINUTE, -@Grace, @ShiftStartDT)
				   OR @Now > DATEADD(MINUTE, 60, @ShiftEndDT)
				   THROW 50010,'Punch allowed only during shift window',1;

				-- Only Allow Punch into the ShiftStart + Grace   :: @Grace = 15;
				IF @SessionNo = 1
				BEGIN
					IF @Now > DATEADD(MINUTE, @Grace, @ShiftStartDT)
						THROW 50011, 'Late PUNCH_IN Blocked', 1;
				END

				-- Claculating late minutes
				DECLARE @IsLate BIT = 0; 

				SET @ShiftStartDT = CASE 
										WHEN @IsNight = 1 
											THEN CAST(@AttendanceDate AS DATETIME) + CAST(@ShiftStart AS DATETIME)
											ELSE CAST(@Today AS DATETIME) + CAST(@ShiftStart AS DATETIME)
									END;

				IF @Now > DATEADD(MINUTE, @Grace, @ShiftStartDT)
					SET @IsLate = 1;
							
				INSERT INTO Attendance
					(EmpID, AttendanceDate, LogIn, ShiftID, IsLate, Status, SessionNo)
				VALUES
					(@EmpID, @AttendanceDate, @Now, @ShiftID, @IsLate, 'PRESENT', @SessionNo);
							
			COMMIT TRANSACTION 
				SELECT 'PUNCHED_IN' AS Result;
				RETURN; 
		END TRY 
		BEGIN CATCH
			ROLLBACK TRANSACTION; 
			THROW;
		END CATCH
	END 

	-- PUNCH-OUT -- 
	IF @Action = 'PUNCH-OUT'
	BEGIN 
		BEGIN TRY 
			BEGIN TRANSACTION;
				
				DECLARE @PunchIn DATETIME; 

				-- Get active session 
				SELECT TOP 1 @PunchIn = LogIn 
				FROM Attendance 
				WHERE EmpID = @EmpID 
				AND AttendanceDate = @AttendanceDate 
				AND LogOut IS NULL
				ORDER BY SessionNo DESC;
				
				IF @PunchIn IS NULL 
					THROW 50012, 'No active session found', 1;
					
				DECLARE 
					@SessionMinutes INT,
					@OverTime INT = 0,
					@PunchOut DATETIME;
				
				-- Calculate punch out time
				SET @PunchOut = @Now;
				
				IF @IsNight = 1 AND @Time < @ShiftStart AND @Now < @PunchIn
					SET @PunchOut = DATEADD(DAY, 1, @Now);

				SET @SessionMinutes = DATEDIFF(MINUTE, @PunchIn, @PunchOut);

				-- Shift duration calculation
				SET @ShiftStartDT = CAST(@AttendanceDate AS DATETIME) + CAST(@ShiftStart AS DATETIME);

				SET @ShiftEndDT = CASE
									WHEN @IsNight = 1 AND @ShiftEnd < @ShiftStart
										THEN DATEADD(DAY, 1, CAST(@AttendanceDate AS DATETIME)) + CAST(@ShiftEnd AS DATETIME)
										ELSE CAST(@AttendanceDate AS DATETIME) + CAST(@ShiftEnd AS DATETIME)
								  END;

				-- Block punch-out Outside the Shift Timing
				IF @Now > DATEADD(MINUTE, 60, @ShiftEndDT)
						THROW 50010, 'Late PUNCH_OUT Blocked', 1;

				UPDATE Attendance 
					SET LogOut = @PunchOut,
						TotalMinutes = @SessionMinutes,
						OverTimeMinutes = @OverTime
					WHERE EmpID = @EmpID 
					AND AttendanceDate = @AttendanceDate
					AND LogOut IS NULL;

				-- Calculate total Minutes of the day
				DECLARE @DayTotalMinutes INT;

				SELECT @DayTotalMinutes = SUM(ISNULL(TotalMinutes, 0))
				FROM Attendance
				WHERE EmpID = @EmpID
				AND AttendanceDate = @AttendanceDate;

				-- Calculate Total Shift duration
				DECLARE @WorkingMin INT = 480;  -- 480 min = 8 hour shift

				SET @OverTime = @DayTotalMinutes - @WorkingMin;

				-- Converting TotalMinutes into Hours format
				DECLARE @TotalHours VARCHAR(5);

				SET @TotalHours =
					RIGHT('0' + CAST(@DayTotalMinutes / 60 AS VARCHAR), 2)
					+ ':' +
					RIGHT('0' + CAST(@DayTotalMinutes % 60 AS VARCHAR), 2);

				-- Clear previous TotalHours
				UPDATE Attendance
					SET TotalHours = NULL,
					OverTimeMinutes = 0
					WHERE EmpID = @EmpID
					AND AttendanceDate = @AttendanceDate;

				-- Store only on LAST session
				UPDATE Attendance
					SET TotalHours = @TotalHours,
						OverTimeMinutes = @OverTime
					WHERE EmpID = @EmpID
					AND AttendanceDate = @AttendanceDate
					AND SessionNo = (
						SELECT MAX(SessionNo)
						FROM Attendance
						WHERE EmpID = @EmpID
						AND AttendanceDate = @AttendanceDate
					);

			COMMIT TRANSACTION; 
				SELECT 'PUNCHED_OUT' AS Result;
				RETURN; 
		END TRY 
		BEGIN CATCH 
			ROLLBACK TRANSACTION;
			THROW; 
		END CATCH 
	END 
		
	-- OVERALL ATTENDANCE --
	IF @Action = 'ATTENDANCE'
	BEGIN 
		SELECT 
			MIN(A.AttendanceID) AS AttendanceID,
			A.EmpID,
			MIN(A.ShiftID) AS ShiftID, 
			SM.ShiftName,
			A.AttendanceDate,
			MIN(A.LogIn) AS LogIn,
			MAX(A.LogOut) AS LogOut,
			SUM(ISNULL(A.TotalMinutes, 0)) AS TotalMinutes,
			CONCAT(
				SUM(ISNULL(A.TotalMinutes, 0)) / 60,
				':',
				RIGHT('0' + CAST(SUM(ISNULL(A.TotalMinutes, 0)) % 60 AS VARCHAR), 2)
			) AS TotalHours,
			CASE
				WHEN SUM(ISNULL(A.TotalMinutes, 0)) > 0 THEN 'PRESENT'
				ELSE 'ABSENT'
			END AS Status,
			MAX(CASE 
					WHEN A.TotalHours IS NOT NULL 
					THEN A.OverTimeMinutes 
				END) AS OverTimeMinutes
		FROM Attendance A 
		JOIN ShiftMaster SM ON A.ShiftID = SM.ShiftID
		WHERE A.EmpID = @EmpID 
		GROUP BY A.EmpID, A.AttendanceDate, SM.ShiftName
		ORDER BY A.AttendanceDate DESC;

		RETURN; 
	END

	-- TODAY ATTENDANCE DETAILS --
	IF @Action = 'ATTENDANCE-DETAILS'
	BEGIN 
		SELECT 
			SessionNo,
			AttendanceDate,
			LogIn,
			LogOut,
			DATEDIFF(MINUTE, LogIn, ISNULL(LogOut, @Now)) AS TotalMinutes,
			OverTimeMinutes,
			Status 
		FROM Attendance 
		WHERE EmpID = @EmpID 
		AND AttendanceDate = @AttendanceDate 
		ORDER BY SessionNo; 
			
		RETURN; 
	END 
			
	-- Get Employee Shift Details -- 
	IF @Action = 'EMPLOYEE-SHIFT' 
	BEGIN 
		SELECT 
			ES.EmpID, 
			ES.ShiftID,
			SM.ShiftName,
			E.Name, 
			SM.StartTime,
			SM.EndTime,
			ES.EffectiveFrom,
			ES.EffectiveTo 
		FROM EmployeeShift ES 
		JOIN Employee E ON E.EmpID = ES.EmpID
		LEFT JOIN ShiftMaster SM ON SM.ShiftID = ES.ShiftID 
		ORDER BY ShiftID; 
	END 

	-- Get Today Present Employee List --
	IF @Action = 'TODAY-LIST'
	BEGIN
		SELECT
			MIN(A.ShiftID) AS ShiftID,
			E.EmpID,
			E.Name,
			MIN(A.LogIn) AS LogIn,
			MAX(A.LogOut) AS LogOut,
			'PRESENT' AS Status
		FROM Attendance A
		JOIN Employee E ON E.EmpID = A.EmpID
		WHERE A.AttendanceDate = @AttendanceDate
		AND A.Status = 'PRESENT'
		GROUP BY E.EmpID, E.Name
		ORDER BY ShiftID, LogIn;
	END
END